@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root[data-theme="light"] {
  /* Backgrounds */
  --color-bg: #f8f8fb;
  --color-bg-card:         ;
  --color-bg-input:        ;
  --color-bg-sidebar: #373b53;
  --color-bg-edit-btn: #f9fafe;
  --color-bg-edit-btn-hover: #dfe3fa;
  --color-bg-draft-btn: #373b53;
  --color-bg-draft-btn-hover: #0c0e16;
  --color-bg-btn-add: #f9fafe;
  --color-bg-btn-add-hover: #dfe3fa;

  /* Text */
  --color-text-primary: #0c0e16;
  --color-text-secondary: #888eb0;
  --color-text-muted:      ;
  --color-text-draft: #373b53;

  /* Borders */
  --color-border:          ;
  --color-border-input:    ;
  --color-border-focus:    ;

  /* Buttons */
  --color-edit-btn-text: #7e88c3;
}

:root[data-theme="dark"] {
  /* Backgrounds */
  --color-bg: #141625;
  --color-bg-card:         ;
  --color-bg-input:        ;
  --color-bg-sidebar: #1e2139;
  --color-bg-edit-btn: #252945;
  --color-bg-edit-btn-hover: #ffffff;
  --color-bg-draft-btn: #373b53;
  --color-bg-draft-btn-hover: #1e2139;
  --color-bg-btn-add: #252945;
  --color-bg-btn-add-hover: #0c0e16;

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #dfe3fa;
  --color-text-muted:      ;
  --color-text-draft: #dfe3fa; 

  /* Borders */
  --color-border:          ;
  --color-border-input:    ;
  --color-border-focus:    ;

  /* Buttons */
  --color-edit-btn-text: #dfe3fa;
}

/* 
   SHARED — Same in both themes
   */
:root {
  /* Brand */
  --color-bg-btn-default: #7c5dfa;
  --color-bg-btn-default-hover: #9277ff;

  /* Danger */
  --color-bg-delete: #ec5757;
  --color-bg-delete-hover: #ff9797;

  /* Status — Paid */
  --color-bg-paid: #33d69f;
  --color-text-paid: #33d69f;

  /* Status — Pending */
  --color-bg-pending: #ff8f00;
  --color-text-pending: #ff8f00;

  /* TYPOGRAPHY */
  --font-primary: "League Spartan", sans-serif;

  --text-heading-l: 2.25rem;
  --text-heading-m: 1.5rem;
  --text-heading-s: 0.9375rem;
  --text-body: 0.8125rem;

  --leading-heading-l: 33px;
  --leading-heading-m: 22px;
  --leading-heading-s: 24px;
  --leading-heading-sv: 15px;
  --leading-body: 18px;
  --leading-body-v: 15px;

  --tracking-heading-l: -1px;
  --tracking-heading-m: -0.75px;
  --tracking-heading-s: -0.25px;
  --tracking-body: -0.1px;
  --tracking-body-v: -0.25px;

  --weight-medium: 500;
  --weight-bold: 700;

  /* SPACING */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;

  /* BORDER RADIUS */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 20px;
  --radius-full: 9999px;

  /* TRANSITIONS */
  --transition-fast: 150ms ease;
  --transition-base: 250ms ease;
}
